/* styles.css */

body {
    background-color: white;
    margin-top: 12px;
}

nav {
    background-color: #006A4D; /* Navbar color */
}


.border-container {
    border-color: #006A4D;
    border-width: 2px;
    border-radius: 0.5rem;
}



 .form-container { 
    background-color: white;
     color: black;
      padding: 1rem;
       border: 2px solid #006A4D;
        border-radius: 0.5rem;
         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1 0.1);
 }

 